@charset "utf-8";
body { margin:0; padding:0; background-color:#FFFFFF; background-image:url("../images/body_bg.jpg")/*tpa=http://www.hunnu.edu.cn/images/body_bg.jpg*/; background-repeat:repeat-x; background-position:top; font-family: "宋体"; font-size:13px; color:#333333; line-height:160%;
}
IMG { border:0;}
.clear { clear:both;}

h1,h2{font-size:23px;line-height:150%;}

a:link { color:#333333; text-decoration:none;}
a:visited { color:#333333; text-decoration:none;}
a:hover { color:#FF0000; text-decoration: underline;}

a.l_hui:link { color:#666666; text-decoration:none;}
a.l_hui:visited { color:#666666; text-decoration:none;}
a.l_hui:hover { color:#FF0000; text-decoration: underline;}

.warp { width:980px; margin:0 auto;}
.top_bg { height:34px; line-height:34px; background-image:url("../images/top_bg.jpg")/*tpa=http://www.hunnu.edu.cn/images/top_bg.jpg*/; background-repeat:no-repeat; background-position:right;}
.menu_box { width:100%; height:41px; margin-bottom:5px;}
.menu_bg { background-image:url("../images/menu_bg.jpg")/*tpa=http://www.hunnu.edu.cn/images/menu_bg.jpg*/; background-repeat:repeat-x; background-position:top;}

a.menu_a:link { font-size:10pt; font-weight:bold; color:#FFFFFF; text-decoration:none; float:left; padding:0 12px; height:41px; line-height:41px; background-image:url("../images/menu_line.jpg")/*tpa=http://www.hunnu.edu.cn/images/menu_line.jpg*/; background-repeat:no-repeat; background-position:right;}
a.menu_a:visited { font-size:10pt; font-weight:bold; color:#FFFFFF; text-decoration:none; float:left; padding:0 12px; height:41px; line-height:41px; background-image:url("../images/menu_line.jpg")/*tpa=http://www.hunnu.edu.cn/images/menu_line.jpg*/; background-repeat:no-repeat; background-position:right;}
a.menu_a:hover { font-size:10pt; font-weight:bold; color:#FFFFFF; text-decoration: underline; float:left; padding:0 12px; height:41px; line-height:41px; background-image:url("../images/menu_line.jpg")/*tpa=http://www.hunnu.edu.cn/images/menu_line.jpg*/; background-repeat:no-repeat; background-position:right;}
.search_text {width:200px; height:18px; padding:2px; line-height: 18px; border:1px solid #adb5c6;}

.margin_b7 {margin-bottom:7px;}
.margin_lr { margin:0 7px;}
.pad10 { padding:10px;}
.ad_box {width:650px; height:315px; float:left;}
.gonggao_box {width:320px; height:313px; float:right; border:1px solid #e0dfdf;}
.gonggao_box02 {width:100%;height:323px; border:1px solid #e0dfdf; margin-bottom:7px;}
.gonggao_list {padding:10px 2px 0px 10px;}
.gonggao_list ul { margin:0; padding:0;}
.gonggao_list ul li { list-style-type:none; background-image:url("../images/s01.jpg")/*tpa=http://www.hunnu.edu.cn/images/s01.jpg*/; background-repeat:no-repeat; background-position:left; padding-left:12px; line-height:190%;}
.time { float:right; color:#999999;}
.more { background-image:url("../images/line.jpg")/*tpa=http://www.hunnu.edu.cn/images/line.jpg*/; background-repeat:repeat-x; background-position:top; text-align:right; margin:0 10px; line-height:30px; }
.more02 { background-image:url("../images/line.jpg")/*tpa=http://www.hunnu.edu.cn/images/line.jpg*/; background-repeat:repeat-x; background-position:top; text-align:right; line-height:30px; }
.tab_menu { width:100%; height:30px; background-image:url("../images/tab_bg02.jpg")/*tpa=http://www.hunnu.edu.cn/images/tab_bg02.jpg*/; background-repeat:repeat-x; background-position:bottom;}
.tab_menu ul { margin:0; padding:0;}
.tab_menu ul li { padding:0 20px; float:left; display:block; list-style-type:none; height:30px; line-height:30px; font-size:14px; font-weight:bold; cursor:pointer; border-right:1px solid #e0dfdf;}
.tab_menu_link { background-image:url("../images/tab_bg02.jpg")/*tpa=http://www.hunnu.edu.cn/images/tab_bg02.jpg*/; background-repeat:repeat-x; background-position:top;}
.tab_menu_link:hover { background-image:url("../images/tab_bg04.jpg")/*tpa=http://www.hunnu.edu.cn/images/tab_bg04.jpg*/; background-repeat:repeat-x; background-position:top;}
.tab_menu_nav { background-image:url("../images/tab_bg05.jpg")/*tpa=http://www.hunnu.edu.cn/images/tab_bg05.jpg*/; background-repeat:repeat-x; background-position:top;}
.tab_menu_nav:hover {  background-image:url("../images/tab_bg05.jpg")/*tpa=http://www.hunnu.edu.cn/images/tab_bg05.jpg*/; background-repeat:repeat-x; background-position:top;}
.width320 { width:320px; height:250px; float:left;  border:1px solid #e0dfdf; _overflow:hidden;}
.title_a { height:30px; line-height:30px; font-size:14px; font-weight:bold; padding-left:15px; color:#333333; background-image:url("../images/tab_bg03.jpg")/*tpa=http://www.hunnu.edu.cn/images/tab_bg03.jpg*/; background-repeat:no-repeat; background-position:left;}
.news_list { padding:5px 10px;}
.news_list ul { margin:0; padding:0;}
.news_list  ul li { list-style-type:none; background-image:url("../images/s02.jpg")/*tpa=http://www.hunnu.edu.cn/images/s02.jpg*/; background-repeat:no-repeat; background-position:left; padding-left:15px; line-height:25px;}
.width484 {width:484px; height:235px; border:1px solid #e0dfdf;  _overflow:hidden;}
.width484_178 {width:484px; height:178px; border:1px solid #e0dfdf;  _overflow:hidden;}

.width484_158 {width:484px; height:148px; border:1px solid #e0dfdf; _overflow:hidden;}
.width484_2 {width:484px; height:240px; border:1px solid #ff0000;  _overflow:hidden;}

.news_list02 { padding:0 5px 5px 5px;}
.news_list02 ul { margin:0; padding:0;}
.news_list02  ul li { list-style-type:none; background-image:url("../images/s03.jpg")/*tpa=http://www.hunnu.edu.cn/images/s03.jpg*/; background-repeat:no-repeat; background-position:left; padding-left:15px; line-height:190%;}
.news_list03 { padding:10px;}
.news_list03 ul { margin:0; padding:0;}
.news_list03  ul li { list-style-type:none; background-image:url("../images/s03.jpg")/*tpa=http://www.hunnu.edu.cn/images/s03.jpg*/; background-repeat:no-repeat; background-position:left;  padding:5px 0 5px 15px; line-height:190%; border-bottom:1px dashed #EAEAEA;}

.news_list04 { padding:0 5px 5px 5px;}
.news_list04 ul { margin:0; padding:0;}
.news_list04  ul li { list-style-type:none; padding-left:15px; line-height:190%;}










.video_list { padding:0 5px 5px 5px;}
.video_list ul { margin:0; padding:0;}
.video_list  ul li { list-style-type:none; background-image:url("../images/s04.jpg")/*tpa=http://www.hunnu.edu.cn/images/s04.jpg*/; background-repeat:no-repeat; background-position:left; padding-left:20px; line-height:190%;}
.width305 {width:305px; height:240px; border:1px solid #e0dfdf; margin-left:8px; _overflow:hidden; }
.width170 { width:170px; float:left; margin-left:8px; }
.dzzz_list {width:135px; float:left;border:0px solid #ff0000}
.dzzz_list ul { margin:0; padding:0;}
.dzzz_list ul li { list-style-type:none; border:1px solid #EAEAEA; padding-left:1px; margin-bottom:2px; line-height:190%; _padding:4px 0 4px 0px;}
.dzzz_list ul li:hover { border:1px solid #EAEAEA; background-color: #FFFF99;}
.title_b { height:30px; line-height:30px; font-size:14px; font-weight:bold; padding-left:10px; color:#333333; background-image:url("../images/tab_bg02.jpg")/*tpa=http://www.hunnu.edu.cn/images/tab_bg02.jpg*/; background-repeat:repeat-x; background-position:top;}
.width485 {width:484px; border:1px solid #e0dfdf; }

.botton { padding:10px;}
.botton ul { margin:0; padding:0;}
.botton ul li { list-style-type:none; width:84px; height:28px; line-height:28px; text-align:center; margin-right:5px; float:left; background-image:url("../images/btn_bg.jpg")/*tpa=http://www.hunnu.edu.cn/images/btn_bg.jpg*/; background-repeat:repeat-x; background-position:bottom; border:1px solid #dbdbdb; display:block;}


.L_botton { padding:10px;}
.L_botton ul { margin:0; padding:0;}
.L_botton ul li { list-style-type:none; width:84px; height:28px; line-height:28px; text-align:center; margin-right:5px; float:left; background-image:url("../images/btn_bg.jpg")/*tpa=http://www.hunnu.edu.cn/images/btn_bg.jpg*/; background-repeat:repeat-x; background-position:bottom; border:1px solid #dbdbdb; display:block;}


.R_botton { padding:10px;}
.R_botton ul { margin:0; padding:0;}
.R_botton ul li { list-style-type:none; width:70px; height:28px; line-height:28px; text-align:center; margin-right:5px; float:left; background-image:url("../images/btn_bg.jpg")/*tpa=http://www.hunnu.edu.cn/images/btn_bg.jpg*/; background-repeat:repeat-x; background-position:bottom; border:1px solid #dbdbdb; display:block;}





.footer { border:1px solid #e0dfdf; margin-bottom:7px;}
.links_box { padding:10px; _height:45px; _overflow:hidden;}
.links_box ul { margin:0; padding:0;}
.links_box ul li { list-style-type:none; width:115px; height:45px; float:left; margin-right:5px;}

.leftbox02 { width:700px; float:left; border:1px solid #e0dfdf;}
.rightbox02 { width:270px; float:right;}
.news_xq_bt { font-size:21px; font-weight:bold; font-family:"宋体"; text-align:center; padding:10px 0;}
.news_xq_bt02 {text-align:center; padding:10px 0 20px; margin-bottom:20px; background-image:url("../images/line.jpg")/*tpa=http://www.hunnu.edu.cn/images/line.jpg*/; background-repeat:repeat-x; background-position:bottom;}
.news_xq { padding:20px 30px;}
.news_xq_2 { padding:5px 5px;}
.news_xq p { font-size:13pt; line-height:200%; text-indent:25px;}
.syt {padding:10px 0; background-image:url("../images/line.jpg")/*tpa=http://www.hunnu.edu.cn/images/line.jpg*/; background-repeat:repeat-x; background-position:top;}
.xyt { padding-bottom:10px; margin-bottom:10px;  background-image:url("../images/line.jpg")/*tpa=http://www.hunnu.edu.cn/images/line.jpg*/; background-repeat:repeat-x; background-position: bottom;}

.guangyinshida_gengduo a:link{
color:#cc0000;
}

#c_sidebar {
 width:200px;
 float:left;
}
#subnav {
 padding-top:14px;
 background-color:#3455A2;
} 
#subnav h2 {
 height:25px;
 line-height:25px;
 text-indent:5px;
 background-color:#3455a2;
 color:#FFFFFF;
}
#subnav ul li {
 line-height:28px;
 height:28px;
 border-bottom:1px dotted #FFFFFF;
 text-indent:15px;
 background-image:url("../images/sb_arrow.gif")/*tpa=http://www.hunnu.edu.cn/images/sb_arrow.gif*/;
 background-position:left;
 background-repeat:no-repeat;
 list-style-type:none;
}
#subnav ul li a {
 display:block;
 width:100%;
 height:100%;
}
#subnav ul li a:link {
 color:#FFFFFF;
}
#subnav ul li a:visited {
 color:#FFFFFF;
}
#subnav ul li a:hover {
 color:#3455A2;
 text-decoration:none;
 background-color:#FFFFFF;
 background-image:url("../images/ql_arrow.gif")/*tpa=http://www.hunnu.edu.cn/images/ql_arrow.gif*/;
 background-position:left;
 background-repeat:no-repeat;
}
#c_img {
 height:70px;
 border-top:1px solid #FFFFFF;
 border-bottom:1px solid #FFFFFF;
 background-image:url("../images/channelpic.gif")/*tpa=http://www.hunnu.edu.cn/images/channelpic.gif*/;
} 


#c_content {
 width:500px;
 float:right;
 margin-right: 270px;
}

#position {
 height:29px;
 line-height:29px;
 border-bottom:1px solid #CCCCCC;
 background-image:url("../images/position.gif")/*tpa=http://www.hunnu.edu.cn/images/position.gif*/;
 background-position:left;
 background-repeat:no-repeat;
 text-indent:30px;
}

#c_contentmain {
 margin:10px;
 padding:5px;
 
 font-size:15px;
 color:#444444; 
 
}
#c_contentmain p {
 padding:5px 0;
 line-height:150%; 
 }

#guangyin_more a:link, 
#guangyin_more a:visited { 
color:#cc0000; 
} 
#guangyin_more a:hover, 
#guangyin_more a:active { 
color:#ff0000; 
} 