body,p,h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,pre{
    margin:0;
    padding:0;
    border:none;
    list-style:none;
    box-sizing: border-box;
}

.header{
	 background: #abced8;
}


.notice-info>p,
.date>p{
    margin:0;
}

body{
    font-family: "microsoft yahei","Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    min-width: 1200px;
}
a{
    color: #333;
    text-decoration:none;
}
a:hover{
    color: #8F0100;
    text-decoration:underline;
}
input,button{
    outline:0;
}
img{
    vertical-align: middle;
    border: 0;
}
.avatar{
    border-radius: 50%;
    display: inline-block;
    width: 24px;
    height: auto;
    padding: 2px;
    line-height: 1.6;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-right: 10px;
    margin-top:-2px;
}

.lf{
    float: left;
}
.rt{
    float: right;
}
.active{
    display: block;
}
.box{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.container{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.container:before,
.container:after{
    content: '';
    display: table;
    clear: both;
}


.top{
    height: 46px;
}
.top a{
    color: #E6DDDD;
    font-size: 16px;
    text-decoration: none;
    padding: 0 15px;
    float: left;
    line-height: 46px;
    border-right: 1px solid #7D2121;
}
.top .oa i{
    float: left;
    width: 19px;
    height: 15px;
    margin: 16px 5px 0 0;
    background: url("../images/oa.png")/*tpa=http://www.hunnu.edu.cn/images/oa.png*/ no-repeat;
}
.top .email i{
    float: left;
    width: 20px;
    height: 14px;
    margin: 16px 5px 0 0;
    background: url("../images/email.png")/*tpa=http://www.hunnu.edu.cn/images/email.png*/ no-repeat;
}
.top .login{
    color: #fff;
    padding: 0 20px;
    background: #4b0101;
}
.top form{
    display: inline-block;
}
input.search{
    height: 20px;
    line-height: 20px;
    width: 120px;
    color: #fff;
    padding: 0 30px 0 10px;
    margin: 15px 0 0 10px;
    border: none;
    background: #A61C1C;
    border-radius: 25px;
}
input.image{
    position: absolute;
    top: 17px;
    right: 5px;
}
.logo{
    height: 105px;
    line-height: 105px;
}
.logo img{

}
.logo .box{
    background: url("../images/gate.png")/*tpa=http://www.hunnu.edu.cn/images/gate.png*/ no-repeat right center;
}

.nav{
    height: 46px;
    line-height: 46px;
    background: #fff;
    text-align: center;
    box-shadow: 2px 2px 2px #ddd;
}
.menu>li{
    display: inline-block;
    width: 110px;
    position: relative;
    margin: 0 15px;
}
.menu>li.on{
    height: 46px;
    border-bottom: 5px solid #8F0100;
}
.menu>li>a{
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.menu>li:hover>a{
    color: #fff;
    background: #8F0100;
    text-decoration: none;
}

.sub-menu{
    position: absolute;
    top: 46px;
    left: 0;
    width: 530px;
    z-index: 99;
    display: none;
    overflow: hidden;
    padding: 0 20px 10px;
    background: rgba(255,255,255,.9);
}
.sub-menu li{
    float: left;
    width: 50%;
    text-align: left;
}
.sub-menu li a{
    display: block;
    line-height: 35px;
    margin: 5px 10px;
    border-bottom: 1px dashed #C3C4C8;
    position: relative;
    padding-left: 15px;
    transition: .3s;
}
.sub-menu li a:hover{
    text-decoration: none;
    padding-left: 18px;
}
.sub-menu li a:before{
    content: '';
    position: absolute;
    top: 15px;
    left: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #AFA1A1;
}
.sub-menu li a:hover:before{
    background: #8F0100;
}

.section{
    position: relative;
}
.left-aside{
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -161px;
    z-index: -1;
}
.right-aside{
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -100px;
    z-index: -1;
}



.slider{
    width: 100%;
    overflow:hidden;
}
.slideBox{
    width: 1400px;
    height: 500px;
    margin: 0 auto;
    position:relative;
    text-align: center;
    overflow: hidden;
}
.slideBox .hd{
    position:absolute;
    width: 100%;
    bottom:40px;
    z-index:1;
}
.slideBox .hd ul{
    width: 100%;
    text-align: center;
}
.slideBox .hd ul li{
    margin:0 6px;
    width:12px;
    height:12px;
    background:#fff;
    cursor:pointer;
    display: inline-block;
    border-radius: 50%;
}
.slideBox .hd ul li.on{
    background:#E50112;
    transform: scale(1.3);
}
.slideBox .bd li{
    zoom:1;
    vertical-align:middle;
    position: relative;
}
.slideBox .bd img{
    display:inline-block;
    width: 1400px;
    height: 500px;
}
.slideBox .bd p{
    position: absolute;
    left: 75px;
    bottom: 100px;
    color: #fff;
    font-size: 22px;
    line-height: 50px;
    padding: 0 100px 0 20px;
    background: rgba(0,0,0,.2);
}
.slideBox>a{
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -120px;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-top-width: 12px;
    border-bottom-width: 12px;
    border-right-color: #fff;
    z-index: 99;
}
.slideBox>.next{
    margin-left: 90px;
    border-left-color: #fff;
    border-right-color: transparent;
}
.slideBox>.prev:hover{
    border-right-color: #8F0100;
}
.slideBox>.next:hover{
    border-left-color: #8F0100;
}

.title{
    height: 40px;
    line-height: 40px;
    padding-bottom: 5px;
    border-bottom: 4px solid #8F0100;
}
.title>a{
    color: #000;
    position: relative;
    font-size: 20px;
    padding-left: 35px;
}
.title>a:hover{
    color: #8F0100;
    text-decoration: none;
}
.title>a span
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    background: url("../images/notice.png")/*tpa=http://www.hunnu.edu.cn/images/notice.png*/ no-repeat;
}
.title .rt a{
    color: #8F0100;
    font-size: 16px;
    padding-right: 13px;
    position: relative;
}
.title .rt a i{
    position: absolute;
    top: 5px;
    right: 0;
    width: 8px;
    height: 13px;
    background: url("../images/proarrow.png")/*tpa=http://www.hunnu.edu.cn/images/proarrow.png*/ no-repeat;
}

.news{
    height: 435px;
    margin-top: 25px;
    position: relative;
}
.news .title a span
{
    top: 2px;
    width: 27px;
    height: 22px;
    background: url("../images/news.png")/*tpa=http://www.hunnu.edu.cn/images/news.png*/ no-repeat;
}


.album{
    float: left;
    width: 420px;
    margin-top: 15px;
}
.albumBox{
    width:100%;
    position:relative;
}
.albumBox .hd{
    position:absolute;
    height: 40px;
    left: 6px;
    right: 6px;
    bottom: 72px;
    z-index:1;
    background: rgba(0,0,0,.5);
}
.albumBox .hd ul{
    width: 100%;
    text-align: right;
    padding-right: 5px;
    margin-top: 10px;
}
.albumBox .hd ul li{
    margin:0 5px;
    width:18px;
    height:18px;
    line-height: 16px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    border: 1px solid #eee;
    cursor:pointer;
    display: inline-block;
}
.albumBox .hd ul li.on{
    background:#B8192B;
    border: 1px solid #B8192B;
}
.albumBox .bd li{
    zoom:1;
    vertical-align:middle;
    position: relative;
}
.albumBox .bd img{
    display:inline-block;
}

.news-img{
    width: 420px;
    padding-bottom: 65px;
}
.news-img>a{
    display: block;
    width: 408px;
    position: relative;
}
.news-img img{
    display: block;
    width: 408px;
    height: 270px;
    padding: 5px 6px;
    border-right: 1px solid #ECECEC;
    border-bottom: 2px solid #B8B6B7;
}
.news-img h3{
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 30px;
    left: 6px;
    bottom: -65px;
    font-size: 16px;
    font-weight: normal;
    overflow: hidden;
}

.news>ul{
    margin-top: 22px;
    margin-left: 435px;
}
.news>ul>li{
    float: left;
    width: 48%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #E5E5E5;
}
.news>ul>li:nth-child(even){
    float: right;
}
.news>ul>li>p{
    height: 25px;
    line-height: 25px;
    margin-left: 85px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.news>ul>li a{
    font-size: 16px;
    position: relative;
}
.news>ul>li a:hover{
    color: #8F0100;
    text-decoration: none;
}
.news>ul>li .date{
    float: left;
    width: 70px;
    height: 44px;
    line-height: 22px;
    color: #333;
    font-size: 12px;
    text-align: center;
    background: #eeeeee;
    position: relative;
    top: 3px;
}
.news>ul>li .date span{
    display: inline-block;
    width: 17px;
    height: 16px;
    position: relative;
    top: 5px;
    background: url("../images/date.png")/*tpa=http://www.hunnu.edu.cn/images/date.png*/ no-repeat;
}

.more{
    position: absolute;
    right: 0;
    bottom: -8px;
    color: #8F0100;
    font-size: 15px;
    font-weight: bold;
}

.special{overflow: hidden;}
.special .title a span{
    top: -3px;
    width: 27px;
    height: 30px;
    background: url("../images/special.png")/*tpa=http://www.hunnu.edu.cn/images/special.png*/ no-repeat;
}
.special ul{
    margin: 30px 0;
    overflow: hidden;
}
.special ul li{
    float: left;
    width: 380px;
    margin: 30px 30px 20px 0;
}
.special ul li a{
    display: block;
    width: 380px;
    height: 122px;
    overflow: hidden;
}
.special ul li a img{
    width: 380px;
    height: 122px;
    transition: .3s;
}
.special ul li a:hover img{
    transform: scale(1.1);
}

.notice{
    float: left;
    width: 420px;
    margin: 10px 0 40px;
    position: relative;
}
.notice ul{
    margin-top: 20px;
}
.notice li{
    overflow: hidden;
    height: 36px;
    line-height: 36px;
}
.notice-info p{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 60px;
}
.notice-info p a{
    font-size: 16px;
    position: relative;
    padding-left: 20px;
}
.notice-info p a:before{
    content: '';
    position: absolute;
    top: 6px;
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #B5B5B5;
}
.notice-info p a:hover{
    color: #8F0100;
}
.notice-info p a:hover:before{
    background: #8F0100;
}
.notice-info span{
    color: #666;
}


.media{
    margin: 10px 21px 40px;
}
.media .title a{
    padding-left: 40px;
}
.media .title a span
{
    top: -2px;
    width: 30px;
    height: 30px;
    background: url("../images/media.png")/*tpa=http://www.hunnu.edu.cn/images/media.png*/ no-repeat;
}


.chair{
    float: right;
    width: 308px;
    margin: 10px 0 40px;
}
.chair .title a span{
    top: -3px;
    width: 27px;
    height: 30px;
    background: url("../images/special.png")/*tpa=http://www.hunnu.edu.cn/images/special.png*/ no-repeat;
}
.chair_img{
    width: 100%;
    height: 146px;
    overflow: hidden;
    position: relative;
    margin-top: 30px;
}
.chair_img img{
    width: 308px;
    height: 146px;
    transition: .3s;
}
.chair_img a{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    line-height: 30px;
    overflow: hidden;
    color: #fff;
    font-size: 16px;
    padding: 5px 20px;
    background: rgba(143,1,0,.8);
}
.chair_img:hover img{
    transform: scale(1.05);
}
.chair_info{
    height: 100px;
    padding: 10px 15px;
    background: #eee;
}
.chair_info p{
    height: 25px;
    line-height: 25px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.chair_info p .img{
    display: inline-block;
    width: 20px;
    text-align: center;
    margin-right: 10px;
}


.channel .title a span{
    top: 3px;
    width: 28px;
    height: 24px;
    background: url("../images/com_link.png")/*tpa=http://www.hunnu.edu.cn/images/com_link.png*/ no-repeat;
}
.channel ul{
    margin: 30px -5px;
    overflow: hidden;
}
.channel ul li{
    float: left;
    width: 191px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    font-size: 18px;
    margin: 0 5px;
    background: #ededed;
}
.channel ul li:hover{
    background: #ddd;
}
.channel ul li a{
    display: block;
    text-decoration: none;
}
.channel ul li span{
    position: relative;
    padding-left: 40px;
}
.channel ul li span i{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 29px;
    background: url("../images/book.png")/*tpa=http://www.hunnu.edu.cn/images/book.png*/ no-repeat;
}
.channel ul li.nth_02 span i{
    width: 32px;
    height: 26px;
    background: url("../images/teach.png")/*tpa=http://www.hunnu.edu.cn/images/teach.png*/ no-repeat;
}
.channel ul li.nth_03 span i{
    top: -2px;
    left: 10px;
    width: 18px;
    height: 34px;
    background: url("../images/icon_rcyj.png")/*tpa=http://www.hunnu.edu.cn/images/icon_rcyj.png*/ no-repeat;
}
.channel ul li.nth_04 span i{
    left: 3px;
    width: 28px;
    height: 28px;
    background: url("../images/icon_sdrw.png")/*tpa=http://www.hunnu.edu.cn/images/icon_sdrw.png*/ no-repeat;
}
.channel ul li.nth_05 span i{
    left: 3px;
    width: 28px;
    height: 28px;
    background: url("../images/service.png")/*tpa=http://www.hunnu.edu.cn/images/service.png*/ no-repeat;
}
.channel ul li.nth_06 span i{
    top: -4px;
    width: 33px;
    height: 33px;
    background: url("../images/hr.png")/*tpa=http://www.hunnu.edu.cn/images/hr.png*/ no-repeat;
}


.link .title a span{
    top: 5px;
    width: 25px;
    height: 21px;
    background: url("../images/link.png")/*tpa=http://www.hunnu.edu.cn/images/link.png*/ no-repeat;
}
.link .bd{
    margin: 30px -9px 50px;
    overflow: hidden;
}
.link ul{
    height: 72px;
}
.link ul li{
    float: left;
    width: 286px;
    margin: 0 9px;
}
.link ul li a{
    display: block;
    width: 286px;
    height: 72px;
    overflow: hidden;
}
.link ul li a img{
    width: 286px;
    height: 72px;
    transition: .3s;
}
.link ul li a:hover img{
    transform: scale(1.05);
}


.footer{
    height: 80px;
    background: #fff1cf/*tpa=http://www.hunnu.edu.cn/images/footer.jpg*/ no-repeat center;
    padding: 20px 0;
    font-size: 12px;
}
.footer p{
    height: 100px;
    line-height: 25px;
    color: #fff;
}
.footer p a{
    color: #fff;
}
.footer .rt div{
    float: left;
    margin: 30px 0 0 30px;
    text-align: center;
}
.footer .rt p{
    height: 30px;
    line-height: 30px;
}
.weChat{
    position: relative;
    cursor: pointer;
}
.weChat .wx{
    position: absolute;
    top: -155px;
    left: -65px;
    display: none;
}


.aside{
    width: 300px;
    position: relative;
    min-height: 600px;
    padding-top: 50px;
    border-right: 4px solid #D2D2D2;
}
.aside>ul>li{
    position: relative;
}
.aside>ul>li>a{
    display: block;
    line-height: 40px;
    font-size: 16px;
    padding-left: 50px;
    box-sizing: border-box;
}
.aside>ul>li a:hover{
    text-decoration: none;
}
.aside>ul>li.on>a{
    color: #fff;
    background: #8F0100;
}
.aside p{
    font-size: 20px;
    padding-left: 50px;
    margin-bottom: 30px;
}
.second-menu {
    display: none;
}
.second-menu li{
    height: 30px;
    line-height: 30px;
}
.second-menu li a{
    display: block;
    padding-left: 65px;
}
.aside .on .second-menu{
    display: block;
}
.mask{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


.detail{
    width: 880px;
    min-height: 600px;
    padding: 0 30px;
    box-sizing: border-box;
    margin-top: 50px;
}
.detail.wd{
    width: 855px;
    float: left;
}
.bread{
    height: 40px;
    border-bottom: 1px solid #C8C8C8;
}
.bread .rt{
    color: #666;
    margin-top: 10px;
}
.bread .rt a{
    color: #666;
}
.bread .rt a:hover{
    color: #8F0100;
}
.bread p{
    font-size: 20px;
    padding-left: 20px;
    border-left: 5px solid #8F0100;
    margin: 0;
}

.newsList{
    margin-top: 30px;
}
.newsList li{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #F0F0F0;
}
.newsList .date{
    float: left;
    width: 110px;
    height: 110px;
    text-align: center;
    background: #F4F4F4;
}
.newsList .date h1{
    color: #666;
    font-size: 40px;
    margin-top: 15px;
}
.newsList .date p{
    color: #999;
    font-size: 18px;
    line-height: 30px;
}
.newsList .news-details{
    margin-left: 130px;
    height: 110px;
}
.newsList .news-details p{
    height: 50px;
    line-height: 25px;
    overflow: hidden;
    margin: 10px 0;
}
.newsList .news-details span{
    color: #666;
}

.caption{
    text-align: center;
}
.caption h3{
    line-height: 40px;
    color: #8F0100;
    font-size: 22px;
    font-weight: 500;
    margin: 20px 0 10px;
}
.caption div span{
    font-size: 14px;
    color: #666;
    margin: 0 10px;
}

.article p img{
    width: auto;
    max-width:600px;
}
.content p{
    letter-spacing: 0;
}
.content p.vsbcontent_img{
    text-align: center;
    margin: 15px 0;
}

.imgList{
    margin: 10px 0;
}
.imgList ul li{
    float: left;
    width: 33%;
    text-align: center;
    margin: 20px 0;
}
.imgList ul li .img{
    height: 200px;
}
.imgList ul li .img img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 5px solid #E3E3E3;
    transition: all .3s;
}
.imgList ul li .img:hover img{
    border: 5px solid #8F0100;
    transform: scale(1.1);
}
.imgList ul li>a{
    display: inline-block;
    width: 60%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 20px 0;
    padding: 5px 0;
    border-top: 1px solid #A3A3A3;
    border-bottom: 1px solid #A3A3A3;
}
.imgList ul li>a:hover{
    color: #8F0100;
}

.img-show{
    padding-bottom: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid #E5E5E5;
    position: relative;
}
.img-show .img{
    text-align: center;
}
.img-show .desc{
    height: 50px;
    line-height: 25px;
    overflow: hidden;
}
.img-show h3{
    text-align: center;
    margin: 5px 0;
}
.img-show>a{
    position: absolute;
    right: 0;
    bottom: 10px;
    color: #8F0100;
}

.profile{
    padding: 30px 0;
}

.banner{
    position: relative;
}
.banner img{
    width: 100%;
}
.banner .parent{
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -67.5px;
    text-align: center;
    color: #fff;
}
.banner .parent p{
    font-family: Georgia;
    font-size: 18px;
    position: relative;
}
.banner .parent p:after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 60px;
    margin-left: -30px;
    height: 3px;
    background: #8F0100;
}
.banner .parent ul{
    width: 50%;
    margin: 50px auto 0;
}
.banner .parent li{
    display: inline-block;
}
.banner .parent li a{
    color: #fff;
    margin: 0 10px;
    position: relative;
    padding-left: 15px;
}
.banner .parent li a:before{
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
}


.position{
    margin: 40px 0;
    height: 20px;
    line-height: 20px;
}
.position img{
    display: inline-block;
    margin:  2px 10px 0 0;
    vertical-align: top;
}
.position span{
    margin: 0 10px;
}


.department{
    width: 75%;
    min-height: 500px;
    margin-bottom: 50px;
}
.department:after{
    content: '';
    display: block;
    clear: both;
}
.department li{
    float: left;
    width: 42%;
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0 8% 10px 0;
    border-bottom: 1px solid #C4C4C4;
}
.department li a{
    font-size: 16px;
    position: relative;
    padding-left: 30px;
    text-decoration: none;
}
.department li a:before{
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 14px;
    height: 12px;
    background: url("../images/arrow.png")/*tpa=http://www.hunnu.edu.cn/images/arrow.png*/ no-repeat;
    transition: .3s;
}
.department li a:hover:before{
    left: 5px;
    background: url("../images/arrow-hover.png")/*tpa=http://www.hunnu.edu.cn/images/arrow-hover.png*/ no-repeat;
}
.img-right{
    position: absolute;
    top: 100px;
    right: 0;
}

.hr li{
    float: left;
    width: 530px;
    height: 262px;
    margin: 0 70px 50px 0;
}
.hr li .lf{
    width: 298px;
    height: 262px;
    overflow: hidden;
}
.hr li .lf img{
    width: 298px;
    height: 262px;
    transition: .3s;
}
.hr li .lf:hover img{
    transform: scale(1.1);
}
.hr-info{
    height: 262px;
    margin-left: 298px;
    padding: 30px;
    border-top: 1px solid #F1F1F1;
    box-sizing: border-box;
    box-shadow: 1px 1px 2px #D0D0D0;
    position: relative;
}
.hr-info:hover{
    background: #F1F1F1;
}
.hr-info h3{
    font-weight: normal;
    font-size: 18px;
    position: relative;
}
.hr-info h3:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 32px;
    height: 3px;
    background: #8F0100;
}
.hr-info p{
    margin: 30px 0;
    line-height: 25px;
    color: #666;
}
.hr-info>a{
    position: absolute;
    right: 30px;
    bottom: 30px;
    color: #8F0100;
    padding: 3px 18px 3px 15px;
    border-radius: 20px;
    text-decoration: none;
    border: 1px solid #8F0100;
}
.hr-info>a:after{
    content: '';
    position: absolute;
    top: 8px;
    right: 8px;
    width: 8px;
    height: 8px;
    background: url("../images/plus.png")/*tpa=http://www.hunnu.edu.cn/images/plus.png*/ no-repeat;
}


.detail .position{
    margin-top: 0;
}

.leader{
    margin-bottom: 50px;
}
.leader li{
    margin-left: 40px;
    height: 225px;
    border-bottom: 1px solid #B8B6B7;
    background: #ECECEC;
    position: relative;
    margin-bottom: 30px;
}
.leader .leader-img{
    position: absolute;
    top: 0;
    left: -40px;
    width: 264px;
    height: 189px;
    padding: 0 5px 5px 5px ;
    box-shadow: 1px 1px 2px #B2B0B1;
    border-left: 2px solid #E6E6E6;
}
.leader .leader-info{
    margin-left: 236px;
}
.leader .leader-info h3{
    height: 44px;
    line-height: 44px;
    font-weight: normal;
    color: #000;
    font-size: 18px;
    padding-left: 25px;
    background: url("../images/proTitlebg.jpg")/*tpa=http://www.hunnu.edu.cn/images/proTitlebg.jpg*/;
}
.leader .leader-info p{
    margin: 20px 25px;
    height: 75px;
    line-height: 25px;
    overflow: hidden;
}
.leader .leader-info a{
    position: absolute;
    right: 25px;
    bottom: 30px;
    color: #8F0100;
    padding: 3px 18px 3px 10px;
    text-decoration: none;
}
.leader .leader-info a:after{
    content: '';
    position: absolute;
    top: 6px;
    right: 5px;
    width: 8px;
    height: 13px;
    background: url("../images/proarrow.png")/*tpa=http://www.hunnu.edu.cn/images/proarrow.png*/ no-repeat;
}
.leader .leader-info a:hover{
    border-radius: 15px;
    border: 1px solid #8F0100;
}

.leader-old-box{
    float: left;
    width: 50%;
}
.leader-old-box h2{
    font-weight: normal;
    text-align: center;
}
.leader-old-box hr{
    margin-bottom: 15px;
}
.leader-old li{
    float: left;
    width: 120px;
    margin: 0 50px 40px 35px;
}
.leader-old li>a{
    display: block;
    width: 110px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    box-shadow: 1px 1px 2px #D2D2D2,-1px 1px 2px #D2D2D2,1px -1px 2px #D2D2D2,-1px -1px 2px #D2D2D2;
}
.leader-old li a span{
    display: inline-block;
    color: #000;
    margin-top: 5px;
}
.leader-old li p{
    height: 50px;
    line-height: 50px;
    text-align: center;
    overflow: hidden;
}


.scenery li{
    float: left;
    width: 381px;
    height: 255px;
    margin: 0 40px 40px 0;
    padding: 5px;
    box-shadow: 1px 1px 3px #D1CFD0,-1px 1px 3px #D1CFD0,1px -1px 3px #D1CFD0,-1px -1px 3px #D1CFD0;
}
.scenery li:nth-child(2n){
    margin-right: 0;
}
.scenery li a{
    display: block;
    position: relative;
    width: 371px;
    height: 245px;
    overflow: hidden;
}
.scenery li img{
    width: 371px;
    height: 245px;
    transition: .3s;
}
.scenery li p{
    position: absolute;
    width: 100%;
    bottom: 10px;
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.scenery li a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../images/shadow.png")/*tpa=http://www.hunnu.edu.cn/images/shadow.png*/ no-repeat;
    background-size: cover;
}
.scenery li a:hover img{


    transform: scale(1.1);
}
.scenery li a:hover p{
    color: #8F0100;
    font-weight: bold;
}


.teacher li{
    float: left;
    width: 175px;
    padding: 0 40px 40px;
    box-sizing: content-box;
    position: relative;
}
.teacher li>a{
    display: block;
    width: 165px;
    height: 165px;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0 3px 3px #D1D1D1;
    overflow: hidden;
}
.teacher li>a img{
    width: 165px;
    height: 165px;
    border-radius: 50%;
    transition: .3s;
}
.teacher li>a:hover img{
    transform: scale(1.05);
}
.teacher li>p{
    height: 40px;
    line-height: 40px;
    text-align: center;
    overflow: hidden;
}
.teacher li>p a{
    text-decoration: none;
}

.teacher-intro{
    position: absolute;
    left: 0;
    right: 0;
    padding: 25px 30px;
    background: #EDEEF0;
    border-top: 4px solid #960C23;
    z-index: 99;
    display: none;
}
.teacher-intro:before{
    content: '';
    position: absolute;
    top: -14px;
    left: 50%;
    margin-left: -5px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom-color: #8F0100;
}
.teacher-intro h3{
    font-weight: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.teacher-intro p{
    color: #666;
    font-size: 12px;
    height: 125px;
    line-height: 25px;
    overflow: hidden;
    margin: 10px 0;
}
.teacher-intro a{
    display: inline-block;
    text-decoration: none;
    color: #8F0100;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid #8F0100;
    border-radius: 5px;
}
.teacher-intro a:hover{
    color: #fff;
    background: #8F0100;
}
.teacher li:hover .teacher-intro{
    display: block;
}

.science-intro{
    padding-bottom: 20px;
}
.science-intro h2{
    font-size: 25px;
    font-weight: normal;
    text-indent: 1em;
    margin-bottom: 20px;
}
.science-intro p{
    color: #666;
    font-size: 16px;
    text-indent: 2em;
    line-height: 30px;
    margin-bottom: 20px;
}
.science-intro .rt{
    color: #8F0100;
}
.science-dynamic{
    margin-bottom: 20px;
}
.science-dynamic h2{
    font-size: 25px;
    font-weight: normal;
    text-indent: 1em;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #C8C8C8;
}
.science-dynamic li{
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    overflow: hidden;
    border-bottom: 1px dotted #616161;
    margin-bottom: 5px;
}
.science-dynamic li p{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 120px;
}
.science-dynamic li a{
    padding-left: 23px;
    position: relative;
    text-decoration: none;
}
.science-dynamic li a:before{
    content: '';
    position: absolute;
    top: 6px;
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #8F0100;
}
.science-dynamic li span{
    color: #666;
}


.org{
    width: 100%;
}
.org-tag a{
    display: inline-block;
    font-size: 16px;
    padding: 5px 15px;
    margin: 20px;
    border-radius: 5px;
    text-decoration: none;
}
.org-tag a.on{
    color: #fff;
    background: #8F0100;
}
.org-list ul{
    display: none;
}
.org-list ul:first-child{
    display: block;
}


.department:after,
.hr:after,
.leader:after,
.leader-old:after,
.scenery:after,
.teacher:after{
    content: '';
    display: block;
    clear: both;
}





.banner_nav{
    width:100%;height:285px;
    background: url("../images/banner3.jpg")/*tpa=http://www.hunnu.edu.cn/images/banner3.jpg*/ no-repeat;
}
.banner_nav>div{
    width: 1200px;margin: 0 auto;color: #fff;
    text-align: center;padding-top: 70px;
}
.banner_nav>div p{font-size: 18px;  font-family: Georgia;  padding: 10px 0 0;}
.banner_nav>div h2{font-size: 32px;}
.banner_nav>div span{display:block;width: 60px;height: 3px;background: #8F0100;margin: 0 auto 40px;}
.banner_nav>div li{ display:inline;line-height: 25px;  padding-left:24px;}
.banner_nav>div a{ color: #fff;  position: relative;}
.banner_nav>div a:before{
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    background: #919392;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 8px;  left: -14px;
}





.profile_intro_page{width: 1200px;background: #fff;}
.profile_intro_page .position{
    height: 20px;
    line-height: 20px;
    padding: 0 25px;
}
.position img{
    display: inline-block;
    margin:  2px 10px 0 0;
    vertical-align: top;
}
.position span{
    margin: 0 10px;
}
.c_profile_content{padding: 0 25px 50px;}
.c_profile_content>div{margin-bottom: 30px;}
.c_first_part{height: 320px;margin-top: 20px;}
.c_second_part{height: 550px;}
.c_third_part{height: 780px;}

.c_first_part ul li{
    float: left;display: block;width: 365px;height: 320px;
    margin-left: 27px;
    -webkit-box-shadow: 0 1px 2px 1px #bebebe;
    -moz-box-shadow: 0 1px 2px 1px #bebebe;
    box-shadow: 0 1px 2px 1px #bebebe;
    transition: .3s;
}
.c_first_part ul li:first-child{margin-left: 0;}
.c_first_part ul li a{
    display: block;width: 365px;height: 230px;
    position: relative;
}
.c_first_part ul li a img{  width: 365px;height: 230px; }
.c_first_part ul li a span{
    display: block;
    width: 150px;height: 45px;line-height: 45px;
    background: #8F0100;color: #fff;font-size:18px;
    position: absolute; bottom: 0;left:0;
    -webkit-border-top-right-radius: 50px;
    -moz-border-top-right-radius: 50px;
    border-top-right-radius: 50px;
    text-align: center;padding-right: 25px;
}
.c_first_part ul li p{
    padding: 20px 25px;
    background: #e4e0e1;
    line-height: 25px;
}
.c_first_part ul li:hover{
    margin-top: -10px;
}


.current_leader_column{ text-align: center;}
.current_leader_column p{font-size: 26px;}
.current_leader_column span{
    font-size: 16px;font-family: Georgia;
    color: #8f8f8f;
}
.current_leader_list{
    height: 470px;
    margin-top: 23px;
    background: #E4E0E1;
    position: relative;
}
.current_leader_list ul{
    padding: 20px 30px;
}
.current_leader_list li{
    float: left;
    padding: 20px 30px;
    width: 120px;
    box-sizing: content-box;
}
.current_leader_list li>a{
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
}
.current_leader_list li>a img{
    height: 120px;
    overflow: hidden;
    transition: .3s;
    margin-left: -20px;
}
.current_leader_list li>a:hover img{

}
.current_leader_list li>p{
    margin-top: 15px;
    text-align: center;
}
.current_leader_list>a{
    position: absolute;
    left: 50%;
    bottom: 15px;
    height: 35px;
    line-height: 35px;
    width: 126px;
    margin-left: -63px;
    background: #CBC9CA;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
.current_leader_list>a:hover{
    color: #fff;
    background: #8F0100;
}

.current_leader_intro{
    position: absolute;
    left: 35px;
    top: -175px;
    width: 530px;
    height: 200px;
    background: #fff;
    padding: 25px 40px;
    box-sizing: border-box;
    display: none;
    z-index: 999;
}
.current_leader_intro h3{
    font-size: 17px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.current_leader_intro p{
    color: #666;
    height: 100px;
    line-height: 25px;
    overflow: hidden;
    margin-top: 10px;
}
.current_leader_intro i{
    position: absolute;
    width: 28px;
    height: 22px;
    top: 20px;
    left: 20px;
    background: url("../images/queo_left.png")/*tpa=http://www.hunnu.edu.cn/images/queo_left.png*/ no-repeat;
}
.current_leader_intro i:last-child{
    top: auto;
    left: auto;
    right: 20px;
    bottom: 20px;
    background: url("../images/queo_right.png")/*tpa=http://www.hunnu.edu.cn/images/queo_right.png*/ no-repeat;
}
.current_leader_intro:before{
    content: '';
    position: absolute;
    top: -16px;
    left: 80px;
    margin-left: -8px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom-color: #8F0100;
}
.current_leader_intro:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: 3px;
    background: #8F0100;
}

.current_leader li:nth-child(2) .current_leader_intro:before,
.current_leader li:nth-child(5) .current_leader_intro:before,
.current_leader li:nth-child(8) .current_leader_intro:before,
.current_leader li:nth-child(11) .current_leader_intro:before{
    left: 50%;
}
.current_leader li:nth-child(3) .current_leader_intro:before,
.current_leader li:nth-child(6) .current_leader_intro:before,
.current_leader li:nth-child(9) .current_leader_intro:before,
.current_leader li:nth-child(12) .current_leader_intro:before{
    left: 450px;
}

.current_leader li:nth-child(2) .current_leader_intro:after,
.current_leader li:nth-child(5) .current_leader_intro:after,
.current_leader li:nth-child(8) .current_leader_intro:after,
.current_leader li:nth-child(11) .current_leader_intro:after{
    left: 50%;
    margin-left: -80px;
}
.current_leader li:nth-child(3) .current_leader_intro:after,
.current_leader li:nth-child(6) .current_leader_intro:after,
.current_leader li:nth-child(9) .current_leader_intro:after,
.current_leader li:nth-child(12) .current_leader_intro:after{
    left: auto;
    right: 0;
}

.current_leader li:nth-child(4) .current_leader_intro,
.current_leader li:nth-child(5) .current_leader_intro,
.current_leader li:nth-child(6) .current_leader_intro{
    left: auto;
    right: 35px;
}

.current_leader li:nth-child(7) .current_leader_intro,
.current_leader li:nth-child(8) .current_leader_intro,
.current_leader li:nth-child(9) .current_leader_intro{
    top: auto;
    bottom: -100px;
}

.current_leader li:nth-child(10) .current_leader_intro,
.current_leader li:nth-child(11) .current_leader_intro,
.current_leader li:nth-child(12) .current_leader_intro{
    left: auto;
    right: 35px;
    top: auto;
    bottom: -100px;
}

.current_leader li:nth-child(1) .current_leader_intro:before,
.current_leader li:nth-child(2) .current_leader_intro:before,
.current_leader li:nth-child(3) .current_leader_intro:before,
.current_leader li:nth-child(4) .current_leader_intro:before,
.current_leader li:nth-child(5) .current_leader_intro:before,
.current_leader li:nth-child(6) .current_leader_intro:before{
    top: auto;
    bottom: -16px;
    border-bottom-color: transparent;
    border-top-color: #8F0100;
}
.current_leader li:nth-child(1) .current_leader_intro:after,
.current_leader li:nth-child(2) .current_leader_intro:after,
.current_leader li:nth-child(3) .current_leader_intro:after,
.current_leader li:nth-child(4) .current_leader_intro:after,
.current_leader li:nth-child(5) .current_leader_intro:after,
.current_leader li:nth-child(6) .current_leader_intro:after{
    top: auto;
    bottom: 0;
}

.current_leader li:hover .current_leader_intro{
    display: block;
}



.c_third_part ul li{
    float: left;display: block;
    width: 535px;height: 365px;margin-bottom: 50px;
    -webkit-box-shadow: 0 1px 2px 1px #bebebe;
    -moz-box-shadow: 0 1px 2px 1px #bebebe;
    box-shadow: 0 1px 2px 1px #bebebe;
}
.prospectus,.school_logo{margin-right: 80px;}
.c_third_part ul li img{width: 285px;height: 365px;}
.c_third_part ul li div{
    width: 250px;height: 365px;
    background: #e6e6e6;
    text-align: center;position: relative;
}
.c_third_part ul li div:hover{
    background: #8F0100;
}
.c_third_part ul li div span{
    width: 74px;height: 72px;
    position: absolute;top:25%;left:35%;
}
.prospectus div span{
    background: url("../images/proIcon1.png")/*tpa=http://www.hunnu.edu.cn/images/proIcon1.png*/ no-repeat;
}
.scenery div span{
    background: url("../images/proIcon2.png")/*tpa=http://www.hunnu.edu.cn/images/proIcon2.png*/ no-repeat;
}
.school_logo div span{
    background: url("../images/proIcon3.png")/*tpa=http://www.hunnu.edu.cn/images/proIcon3.png*/ no-repeat;
}
.motto div span{
    background: url("../images/proIcon4.png")/*tpa=http://www.hunnu.edu.cn/images/proIcon4.png*/ no-repeat;
}
.prospectus div:hover span{
    background: url("../images/proIcon11.png")/*tpa=http://www.hunnu.edu.cn/images/proIcon11.png*/ no-repeat;
}
.scenery div:hover span{
    background: url("../images/proIcon22.png")/*tpa=http://www.hunnu.edu.cn/images/proIcon22.png*/ no-repeat;
}
.school_logo div:hover span{
    background: url("../images/proIcon33.png")/*tpa=http://www.hunnu.edu.cn/images/proIcon33.png*/ no-repeat;
}
.motto div:hover span{
    background: url("../images/proIcon44.png")/*tpa=http://www.hunnu.edu.cn/images/proIcon44.png*/ no-repeat;
}

.c_third_part ul li div a{
    display:block;padding-top: 200px;
    font-size: 26px;
}
.c_third_part ul li div:hover a,
.c_third_part ul li div:hover p
{
    color: #fff;
    text-decoration: none;
}
.c_third_part ul li div p{
    width: 122px;margin: 5px auto;
    font-size: 18px;font-family: Georgia;
    color: #a3a3a3;
}


.detail_aside{
    float: right;
    width: 310px;
    margin-top: 50px;
}
.detail_aside h3{
    height: 40px;
    line-height: 32px;
    border-bottom: 3px solid #8F0100;
}
.hotNews ul{
    margin: 10px 0 30px;
}
.hotNews li{
    height: 35px;
    line-height: 35px;
    overflow: hidden;
}
.hotNews li span{
    float: left;
    width: 7px;
    height: 7px;
    background: #C8C8C8;
    margin-top: 15px;
    border-radius: 50%;
}
.hotNews li a{
    margin-left: 10px;
}